@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Nanum Gothic', sans-serif;
    font: 13px "나눔고딕", 'Nanum Gothic', sans-serif;
}

html{
    height: 100%;
}

ul,
li {
    list-style: none;
}

body {
    overflow-x: hidden;
    background-color: #fafafa;
    height: 100%;
}

html.opened {
    overflow: hidden;
}

img {
    border: 0;
}


/*헤더*/

#header {
    width: 100%;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid rgba(150, 150, 150, 0.2);
    box-sizing: border-box;
}

#header h1 {
    margin-left: 50px;
    padding-left: 10px;
    font-size: 14px;
    line-height: 50px;
}

#header img {
    height: 100%;
    padding: 5px 0 5px 60px;
    box-sizing: border-box;
}

.headup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    background-color: white;
    transform: translateY(0);
    transform: translate3d(0, 0, 0);
    transition: .25s transform;
}

.heads_hidden {
    transform: translateY(-6rem);
    transform: translate3d(0, -6rem, 0);
}

#cover_wrap {
    top: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: transparent;
    z-index: 25;
    display: none;
}

#cover_wrap.opened {
    display: block;
}

.srch_icon {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 0px;
    right: 0px;
    background-image: url(../image/search_icon_gray.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
    cursor: pointer;
}

#srch_menu {
    width: 100%;
    max-width: 560px;
    height: 0px;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 102;
    background-color: white;
    overflow: hidden;
    transition: All 0.2s ease;
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
}

#srch_menu.opened {
    height: 305px;
    top: 0px;
    box-shadow: 5px 5px 15px 1.5px rgba(0, 0, 0, 0.2);
}

#srch_menu p {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: black;
    padding-left: 20px;
    text-align: left;
}

#search_input {
    width: 100%;
    height: 50px;
    font-size: 16px;
    padding: 0 10px 0 10px;
    background-color: white;
    border-radius: 0px;
    border: none;
    outline: none;
    color: #c6c6c6;
    border-bottom: 1px solid rgba(150, 150, 150, 0.2);
    border-top: 1px solid rgba(150, 150, 150, 0.2);
    -webkit-border-radius: 0;
    -webkit-appearance: none;
}

.srch_btnwrap {
    width: 100%;
    text-align: center;
}

#search_btn {
    width: 200px;
    height: 30px;
    margin: 10px;
    background-color: white;
    border: none;
    color: rgba(103, 177, 215, 1);
    border: 1px solid rgba(103, 177, 215, 1);
    box-sizing: border-box;
    border-radius: 5px;
}

.popular_keyword {
    padding-bottom: 20px;
    background-color: white;
}

.popular_keyword > p {
    border-top: 1px solid rgba(150, 150, 150, 0.2);
    box-sizing: border-box;
}

.close_btn {
    width: 50px;
    height: 50px;
    float: right;
    background-image: url(../image/close_gray.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.hash {
    padding: 0 20px;
    text-align: left;
}

.hash > a {
    padding: 5px;
    margin: 2px;
    display: inline-block;
    border: 1px solid rgba(150, 150, 150, 0.2);
    box-sizing: border-box;
    border-radius: 5px;
    color: #9c9c9c;
}


/*공통*/

#clip_rate {
    padding-left: 30px;
    height: 24px;
    display: inline-block;
    background-image: url(../image/clip_icon_gray.png);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    text-align: right;
    line-height: 24px;
    font-weight: bold;
    color: #9c9c9c;
    font-size: 0.75em;
}

#clip_rate.select {
    background-image: url(../image/clip_icon_blue.png);
    color: #67b1d7
}

#cmnt_rate {
    padding-left: 30px;
    margin-left: 10px;
    height: 24px;
    display: inline-block;
    background-image: url(../image/cmnt_icon.png);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    text-align: right;
    line-height: 24px;
    font-weight: bold;
    color: #9c9c9c;
    font-size: 0.75em;
}

#view_rate {
    padding-left: 30px;
    margin-left: 10px;
    height: 24px;
    display: inline-block;
    background-image: url(../image/view_rate_gray.png);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    text-align: right;
    line-height: 24px;
    font-weight: bold;
    color: #9c9c9c;
    font-size: 0.75em;
}

.buy_btn {
    background-color: rgb(122, 213, 156);
    color: white;
    padding: 0 8px;
    border-radius: 3px;
    height: 24px;
    line-height: 24px;
    font-size: 11px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 10px;
}

.apply_btn {
    display: none;
    width: 70px;
    height: 49px;
    line-height: 49px;
    position: absolute;
    right: 0px;
    top: 0px;
    text-align: center;
    background-color: rgb(122, 213, 156);
    color: white;
}

.footer {
    width: 100%;
    padding: 8px 0;
    text-align: center;
    color: #9c9c9c;
    border-top: 1px solid rgba(150, 150, 150, 0.2);
    box-sizing: border-box;
    background-color: white;
}

.footer>p {
    font-size: 12px;
}

.wrap {
    width: 100%;
    max-width: 560px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    background-color: white;
    border-radius: 5px;
}

@media screen and (max-width: 560px) {
    .wrap {
        margin-top: 50px;
        margin-bottom: 0;
    }
    .apply_btn {
        display: block;
    }
}
.spacer {
    height: 50px;
}
