.product_listwrap {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

.list_wrap {
    width: 100%;
    display: table;
    position: absolute;
    z-index: 2;
    background-color: #fafafa;
}

.product {
    width: 100%;
	padding: 5px 0;
    box-sizing: border-box;
    float: left;
}

.list_thumb {
    width: 100%;
    min-height: 100px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    border-left: 1px solid rgba(150,150,150,0.2);
    border-right: 1px solid rgba(150,150,150,0.2);
    border-bottom: 1px solid rgba(150,150,150,0.2);
    box-sizing: border-box;
    background-image: url(../image/icon.png);
    background-size: 30% auto;
    background-repeat: no-repeat;
    background-position: center center;
}

.list_thumb img {
    width: 100%;
    display: block;
}

.list_post {
    position: relative;
    background-color: white;
    border-left: 1px solid rgba(150,150,150,0.2);
    border-right: 1px solid rgba(150,150,150,0.2);
}

.list_post p {
    font-size: 1em;
    line-height: 1.4em;
    padding: 25px;
}


.author_wrap {
    color: #9c9c9c;
    padding: 0px 20px 0 10px;
    border: 1px solid rgba(150, 150, 150, 0.2);
    background-color: white;
    height: 60px;
}

.author_wrap a{
    display: inline-block;
    color: #0d3c5f;
    float: left;
    line-height: 60px;
    margin-left: 10px;
    font-weight: bold;
}

.author_wrap strong {
    font-size: 1em;
    float: right;
    line-height: 60px;
    color: #818488;
}


.profile_img {
    width: 40px;
    height: 40px;
    display: inline-block;
    float: left;
    margin-top: 10px;
}

.profile_img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


.hashtag_wrap {
    position: absolute;
    bottom: 0px;
    padding: 10px;
}

.hashtag {
    display: inline-block;
    padding: 3px;
    color: white;
    font-size: 1em;
    font-weight: 600;
    margin: 2px 4px 2px 0;
    background-color: rgba(0,0,0,0.5);
}

.product_info {
    width: 100%;
    padding: 10px;
    bottom: 0px;
    box-sizing: border-box;
    position: relative;
    background-color: white;
    border: 1px solid rgba(150,150,150,0.2);
}



@media screen and (max-width: 560px) {

.author_wrap {
        border: none;
        border-top: 1px solid rgba(150, 150, 150, 0.2);
        border-bottom: 1px solid rgba(150, 150, 150, 0.2);
    }

.list_thumb {
    border-bottom: 1px solid rgba(150,150,150,0.2);
}
    
 .list_post {
     border: none;
     margin: 0;
}

.product_info {
    margin: 0;
    border: none;
    border-bottom: 1px solid rgba(150,150,150,0.2);
    border-top: 1px solid rgba(150,150,150,0.2);
}

}

----------------------------------------------------------

@media (max-width: 30em){
.product {
	width: 50%;
	padding: 5px 5px;
  }
}
@media (min-width:35.1em){
.product {
	width: 50%;
	padding: 5px 5px;
  }
}
@media (min-width: 55em) {
.product {
	width: 33.33%;
	padding: 5px 5px;
  }
}
@media (min-width: 50em) {
.product {
	width: 33.33%;
	padding: 5px 5px;
  }
}
.grid {
    max-width: 960px;
    margin: 0 auto;
}
