#header {
    height: 50px;
    width: 100%;
    position: fixed;
	top: 0px;
    background-color: white;
    border-bottom: 1px solid #c6c6c6;
    z-index: 1
}

#header h1{
    padding-left: 10px;
    color: black;
    font-size: 14px;
    line-height: 50px;
	text-align: left;
}

.close_btn_g{
    height: 50px;
    width: 50px;
    float: left;
    background-image: url(../image/close_gray.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

#back_btn_fixed {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-image: url(../image/back_icon_gray.png);
    background-size: 50%;
    background-position: center center;
    z-index: 8;
    background-repeat: no-repeat;
    cursor: pointer;
}