body {
    background: url(/image/login_bg.png) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#container {
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

#container img {
    width: 30%;
    max-width: 700px;
    padding-bottom: 10px;
}

.wrap > p {
    font-size: 12px;
    font-weight: bold;
    color: #9c9c9c;
}

#container h1 {
    font-size: 33px;
    font-weight: bold;
    color: #9c9c9c;
}

.login_btn_area {
    width: 100%;
    bottom: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: white;
    border-radius: 0 0 10px 10px;
}

.login_btn_area span {
    color: #9c9c9c;
    font-size: 14px;
    display: inline-block;
}

.login_noti {
    margin-bottom: 30px;
}

.naver_login_btn {
    display: block;
    width: 80%;
    height: 40px;
    max-width: 400px;
    background-color: #23b400;
    line-height: 40px;
    text-align: center;
    color: white;
    font-size: 18px;
    margin: 0 auto;
}

.kakao_login_btn {
    display: block;
    width: 80%;
    height: 40px;
    max-width: 400px;
    background-color: #fbe600;
    line-height: 40px;
    text-align: center;
    color: black;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 5px;
}

.facebook_login_btn {
    display: block;
    width: 80%;
    height: 40px;
    max-width: 400px;
    background-color: #3d5994;
    line-height: 40px;
    text-align: center;
    color: white;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 5px;
}

.agree_box {
    width: 100%;
    height: 85px;
    padding-top: 0px;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #c6c6c6;
}

.agree_box_text {
    font-size: 12px;
    height: 100%;
    overflow-y: auto;
    text-align: left;
    padding: 0 10px;
}

.agree_box_text p {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px
}

.agree_box_text p b {
    font-size: 15px;
    font-weight: bold;
}

.agree_btn_box {
    width: 100%;
    max-width: 560px;
    height: 50px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-top: 1px solid rgba(150, 150, 150, 0.2);
    text-align: center;
    background-color: white;
    border-radius: 0 0 10px 10px;
}

.agree_btn {
    width: 140px;
    height: 30px;
    color: white;
    margin-top: 10px;
    display: inline-block;
    line-height: 30px;
    border: 1px solid rgba(150, 150, 150, 0.2);
    box-sizing: border-box;
    background-color: rgb(122, 213, 156);
}

.cancle_btn {
    width: 140px;
    height: 30px;
    margin-top: 10px;
    display: inline-block;
    line-height: 30px;
    border: 1px solid rgba(150, 150, 150, 0.2);
    box-sizing: border-box;
    color: #9c9c9c;
}

.agree_wrap {
    width: 100%;
    max-width: 560px;
    height: 400px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 100px;
    background-color: white;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.3);
    padding: 20px;
    position: relative;
	border-radius: 5px;
	overflow: hidden;
}

.agree_wrap > p{
    text-align: left;
    padding: 0 0 10px 0;
    font-size: 16px;
    color: #9c9c9c;
}

.start_btn {
    width: 200px;
    height: 50px;
    color: white;
    margin: 30px;
    display: inline-block;
    line-height: 50px;
    font-size: 16px;
    border: 1px solid rgba(150, 150, 150, 0.2);
    box-sizing: border-box;
    background-color: rgb(122, 213, 156);
}

@media screen and (max-width: 560px) {
    .agree_wrap {
        margin-top: 50px;
    }
}

.spacing {
    height: 10px;
}

.agree_check {
    text-align: left;
    position: relative;
}

#terms_agree {
    display: none;
}

#privacy_agree {
    display: none;
}

#terms_agree + label {
    display: inline-block;
    width: 46%;
    height: 40px;
    border: 1px solid rgba(150,150,150,0.2);
    cursor: pointer;
    background-color: white;
    line-height: 40px;
    text-align: center;
    float: left;
    position: relative;
    box-sizing: border-box;
    margin: 0 2%;
    font-size: 12px;
}

#terms_agree:checked + label:after {
    position: absolute;
    background-color: rgb(122, 213, 156);
    width: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
    content: '동의합니다.';
    color: white;
}

#privacy_agree + label {
    display: inline-block;
    width: 46%;
    height: 40px;
    border: 1px solid rgba(150,150,150,0.2);
    cursor: pointer;
    background-color: white;
    line-height: 40px;
    text-align: center;
    float: left;
    position: relative;
    box-sizing: border-box;
    margin: 0 2%;
    font-size: 12px;
}

#privacy_agree:checked + label:after {
    position: absolute;
    background-color: rgb(122, 213, 156);
    width: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
    content: '동의합니다.';
    color: white;
}

