#container {
    
}

.main_bn {
    
}

#main_bn img{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    vertical-align: top;
}
.promo {
    width: 100%;
    padding-top: 50px;
    text-align: center;
}


